* {
  box-sizing: border-box;
}

html,
body {
  padding-bottom: 900px;
  height: 100%;
}

body {
  height: 100vh;
}

main {
  flex: 1;
}

nav {
  padding: 15px 52px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-item {
  flex: 1;
}

.nav-item:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.nav-center-menu {
  font-size: 16px;
  color: #4a1d1f;
}

/* Categories + bottom-arrow */
.nav-center-menu:nth-child(2) {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* bottom-arrow */
.nav-center-menu:nth-child(2)>img {
  width: 10px;
  height: 10px;
  object-fit: contain;
  margin-left: 3px;
}

.nav-item:nth-child(3) {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.nav-item:nth-child(3)>.search-container {
  border: 1px solid #4a1d1f;
  background-color: #4a1d1f;
  width: 250px;
  height: 45px;
  display: flex;
  flex-direction: row;
}

.nav-item:nth-child(3)>.search-container>input {
  border: none;
  padding: 10px 18px;
  font-size: 16px;
}

.nav-item:nth-child(3)>.search-container>input:placeholder {
  color: #b4b4b4;
}

.nav-item:nth-child(3)>.search-container>.search-icon-container {
  border: none;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item:nth-child(3)>.search-container>.search-icon-container>img {
  width: 23px;
  height: 23px;
  object-fit: contain;
}

#profile-icon {
  width: 32px;
  height: 32px;
  object-fit: contain;
  margin-left: 28px;
  margin-top: 3px;
}

#cart-icon {
  width: 28px;
  height: 28px;
  object-fit: contain;
  margin-left: 22px;
}

.overview-top-container {
  padding-left: 90px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: row;
  background-color: rgb(244, 244, 142);
  overflow: hidden;
}

.overview-top-container h1 {
  font-size: 44px;
  font-weight: bold;
  color: #4a1d1f;
  margin-bottom: 20px;
}

.overview-top-container p {
  font-size: 24px;
  color: #272727;
  margin-bottom: 48px;
}

.overview-top-container .left-container {
  padding-top: 90px;
}

.overview-top-container .right-container {
  flex: 1;
  display: flex;
  justify-content: end;
  position: relative;
  /* for cakes-carousel-container */
}

.overview-top-container .right-container img {
  width: 720px;
  height: 520px;
  object-fit: contain;
}

.buttons-container {
  display: flex;
  flex-direction: row;
}

/* Button: Order Now */
.buttons-container button:nth-child(1) {
  display: flex;
  border: none;
  color: #fff;
  background-color: #4a1d1f;
  border-radius: 5px;
  padding: 10px 30px;
  margin-right: 16px;
  font-size: 20px;
}

/* Button: See All Menus */
.buttons-container button:nth-child(2) {
  display: flex;
  border: 1px solid #4a1d1f;
  color: #4a1d1f;
  border-radius: 5px;
  padding: 10px 30px;
  font-size: 20px;
}

.cakes-carousel-container {
  position: absolute;
  bottom: -60px;
  right: -150px;
  padding: 10px 65px 20px 65px;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.8);
}

/* <-- 01/12 --> */
.slider-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.slider-container img {
  object-fit: contain;
}

.slider-container img:nth-child(1) {
  width: 25px;
  height: 15px;
}

.slider-container img:nth-child(2) {
  width: 30px;
  height: 20px;
  margin-left: 8px;
  margin-right: 8px;
}

.slider-container img:nth-child(3) {
  width: 25px;
  height: 15px;
  margin-right: 20px;
}

.slider-container img:nth-child(4),
.slider-container img:nth-child(5),
.slider-container img:nth-child(6) {
  width: 230px;
  height: 130px;
  object-fit: contain;
}

.baking-article {
  padding: 0px 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 30px;
}

.baking-article .text-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.baking-article .text-part h1 {
  font-size: 44px;
  color: #4a1d1f;
  margin-bottom: 10px;
}

.baking-article .text-part p {
  font-size: 16px;
  color: #272727;
  line-height: 25px;
}

.baking-article .image-part {
  flex: 1;
}

.baking-article .image-part img {
  width: 600px;
  height: 353px;
  object-fit: contain;
}

.read-more-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
}

.baking-article:nth-child(1) {
  margin-bottom: 60px;
}

.cake-order-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 200px;
  background-color: #fbedcd;
}

.cake-order-container h1 {
  font-size: 36px;
  font-weight: 900;
  color: #4a1d1f;
  margin-bottom: 20px;
}

.cake-order-container p {
  font-size: 20px;
  color: #272727;
  margin-bottom: 30px;
  text-align: center;
  line-height: 30px;
}

.cake-order-container button {
  background-color: #4a1d1f;
  color: #f0fdf4;
  border: none;
  border-radius: 5px;
  padding: 14px 28px;
}

.wrapper {
  text-align: center;
  margin-top: 20px;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 20px;
  gap: 20px;
  height: 228px;
  background: linear-gradient(to right, #fffefe, #fdf6e4);
}

.intro-title {
  font-size: 48px;
  color: #4a1d1f;
  font-weight: bold;
  padding-right: 56px;
  margin-left: 85px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.intro-separator {
  color: #333;
  font-size: 24px;
  margin: 0 10px;
  border-right: 1px solid #4a1d1f;
  width: 0;
  height: 128px;
}

.intro-text {
  font-size: 22px;
  color: #272727;
  line-height: 1.4;
  max-width: 600px;
  padding-left: 56px;
  text-align: justify;
  margin: 0;
  /* word-wrap: break-word; */
  display: inline-block;
}

/* font-size: 22px;
color: #555;
line-height: 1.4;
max-width: 600px;
text-align: left;
margin: 0;
word-wrap: break-word;
display: inline-block; */

.container {
  display: flex;
  gap: 71px;
  overflow: hidden;
}

.item {
  text-align: center;
}

.item-name {
  width: 224px;
  height: 66px;
  font-size: 22px;
  padding-top: 10px;
}

.container .item:first-child {
  margin-left: 85px;
}

.image {
  width: 100%;
  height: 318px;
  margin-bottom: 10px;
  border-radius: 20px;
}

.rating-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.stars {
  display: flex;
}

.stars .star {
  width: 20px;
  height: 20px;
  background-color: #ffa903;
  clip-path: polygon(50% 0%,
      61% 35%,
      98% 35%,
      68% 57%,
      79% 91%,
      50% 70%,
      21% 91%,
      32% 57%,
      2% 35%,
      39% 35%);
  margin-right: 2px;
}

.stars .empty-star {
  background-color: lightgray;
}

.rating {
  font-size: 14px;
  color: #555;
}

.view-more {
  display: inline-block;
  padding: 8px 16px;
  background-color: #fff;
  color: #4a1d1f;
  text-decoration: none;
  border-radius: 7px;
  font-size: 20px;
  transition: background-color 0.3s;
  border: 1px solid #4a1d1f;
  margin-top: 68px;
  text-align: center;
}

/* second page */
.review-section {
  position: relative;
  width: 977px;
  height: 180px;
  margin: 50px auto 0;
  text-align: center;
}

.quotes-label {
  position: absolute;
  font-size: 12px;
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 18px;
  padding: 2px 8px;
  background-color: #fbedcd;
  color: #333;
  text-align: center;
  line-height: 18px;
  border-radius: 5px;
}

.review-text {
  font-size: 48px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 20px;
  position: relative;
  z-index: 3;
}

.review-image {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  margin-bottom: 10px;
  position: relative;
  z-index: 1;
}

.review-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #4a1d1f;
}

.review-extra {
  font-size: 18px;
  color: #272727;
  margin-bottom: 20px;
}

.dots {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.dot {
  width: 12px;
  height: 12px;
  background-color: #fbedcd;
  border-radius: 50%;
}

.dot:nth-child(2) {
  background-color: #4a1d1f;
}

.quotation-mark-1 {
  position: relative;
  width: 142px;
  /* height: 98px; */
  top: 82px;
  left: 28px;
  /* background-image: url('./assets/img/quotation-1.png'); */
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: left;
  z-index: 0;
}

.quotation-mark-2 {
  position: relative;
  width: 142px;
  /* height: 98px; */
  top: -50%;
  left: 830px;
  /* background-image: url('./assets/img/quotation-2.png'); */
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: left;
  z-index: 0;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: -550px;
  background-color: #fbedcd;
  width: 100%;
  /* padding: 10px 20px; */
  z-index: 10;

}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid hsl(0, 24%, 51%);
}

.footer-left {
  color: #4a1d1f;
  font-size: 30px;
  font-weight: 100;
  margin-left: 152px;
}

.footer-right {
  margin-right: 116px;
}

.footer-nav {
  display: flex;
  gap: 48px;
}

.footer-nav a {
  text-decoration: none;
  color: #272727;
  font-size: 20px;
}

.bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin-left: 152px;
  overflow: auto;
  padding-bottom: 79px;
}

.footer-bottom {
  font-size: 16px;
  color: #272727;
}

.social-icons {
  display: flex;
  gap: 34px;
}

.social-icon {
  color: #4a1d1f;
  font-size: 24px;
  width: 24px;
  height: 24px;
}

.con {
  margin-right: 353px;
}