* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

nav {
  padding: 15px 52px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-item {
  flex: 1;
}
.nav-item:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.nav-center-menu {
  font-size: 16px;
  color: #4a1d1f;
}
/* Categories + bottom-arrow */
.nav-center-menu:nth-child(2) {
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* bottom-arrow */
.nav-center-menu:nth-child(2) > img {
  width: 10px;
  height: 10px;
  object-fit: contain;
  margin-left: 3px;
}

.nav-item:nth-child(3) {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.nav-item:nth-child(3) > .search-container {
  border: 1px solid #4a1d1f;
  background-color: #4a1d1f;
  width: 250px;
  height: 45px;
  display: flex;
  flex-direction: row;
}
.nav-item:nth-child(3) > .search-container > input {
  border: none;
  padding: 10px 18px;
  font-size: 16px;
}
.nav-item:nth-child(3) > .search-container > input:placeholder {
  color: #b4b4b4;
}
.nav-item:nth-child(3) > .search-container > .search-icon-container {
  border: none;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-item:nth-child(3) > .search-container > .search-icon-container > img {
  width: 23px;
  height: 23px;
  object-fit: contain;
}
#profile-icon {
  width: 32px;
  height: 32px;
  object-fit: contain;
  margin-left: 28px;
  margin-top: 3px;
}
#cart-icon {
  width: 28px;
  height: 28px;
  object-fit: contain;
  margin-left: 22px;
}

.overview-top-container {
  padding-left: 90px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: row;
  background-color: rgb(244, 244, 142);
}

.overview-top-container h1 {
  font-size: 44px;
  font-weight: bold;
  color: #4a1d1f;
  margin-bottom: 20px;
}
.overview-top-container p {
  font-size: 24px;
  color: #272727;
  margin-bottom: 48px;
}
.overview-top-container .left-container {
  padding-top: 90px;
}
.overview-top-container .right-container {
  flex: 1;
  display: flex;
  justify-content: end;
  position: relative; /* for cakes-carousel-container */
}

.overview-top-container .right-container img {
  width: 720px;
  height: 520px;
  object-fit: contain;
}

.buttons-container {
  display: flex;
  flex-direction: row;
}
/* Button: Order Now */
.buttons-container button:nth-child(1) {
  display: flex;
  border: none;
  color: #fff;
  background-color: #4a1d1f;
  border-radius: 5px;
  padding: 10px 30px;
  margin-right: 16px;
  font-size: 20px;
}
/* Button: See All Menus */
.buttons-container button:nth-child(2) {
  display: flex;
  border: 1px solid #4a1d1f;
  color: #4a1d1f;
  border-radius: 5px;
  padding: 10px 30px;
  font-size: 20px;
}

.cakes-carousel-container {
  position: absolute;
  bottom: -60px;
  right: -150px;
  padding: 10px 65px 20px 65px;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.8);
}

/* <-- 01/12 --> */
.slider-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.slider-container img {
  object-fit: contain;
}
.slider-container img:nth-child(1) {
  width: 25px;
  height: 15px;
}
.slider-container img:nth-child(2) {
  width: 30px;
  height: 20px;
  margin-left: 8px;
  margin-right: 8px;
}
.slider-container img:nth-child(3) {
  width: 25px;
  height: 15px;
  margin-right: 20px;
}
.slider-container img:nth-child(4),
.slider-container img:nth-child(5),
.slider-container img:nth-child(6) {
  width: 230px;
  height: 130px;
  object-fit: contain;
}
